.vc-popover-content-wrapper.is-interactive {
    position: absolute;
    left: 52% !important;
    right: 50% !important;
    transform: translate(-55%, -50%) !important;
    max-width: 830px !important;
    width: 100vw !important;
    z-index: 0 !important;
    bottom: 0 !important;
    top: 100% !important;
    border-radius: 32px;
    
  }
  
  .vc-popover-content.direction-bottom.vc-container {
    width: 100%;
  }
  
  .vc-pane-container {
    padding: 60px 60px 60px 60px;
  }
  
  .vc-container.vc-blue {
    width: 100% !important;
    padding: 18px 28px 10px 28px;
  }
  
  span.vc-popover-caret.direction-bottom.align-left {
    display: none !important;
  }
  

  .calender-search {
    position: absolute;
    width: 65%;
    max-width: 700px;
    min-width: 550px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 32px;
}