.search-wrapper {
  cursor: pointer;
  width: fit-content;
  align-items: center;
  margin: auto;
  translate: 0.7% -6%;

  background-color: white;
  // height: 50vh;
  // z-index: 30;


  .filter-preview {
    width: 354px;
    height: 48px;
    padding: 0 10px 0 24px;
    text-align: start;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    border-radius: 40px;


    .filter.btn.header-guests {
      display: flex;
      justify-content: space-between;
      
      flex: 1.17;
      align-items: center;
      margin-right: 2px;

      span {
        background: $clr2;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        padding: 8px 0 10px 10px;

        img {
          width: 12px;
          height: 12px;
          color: $clr3;          
        }
      }
    }
  }



  
  .filter-expend {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.filter {
  font-size: 14px;
  position: relative;
  flex: .96;
}

.material-icons.search {
  color: white;
}

.search-wrapper :nth-child(-n + 2) {
  font-weight: $medium;
}

.search-wrapper .filter-preview .filter.btn.header-guests {
  color: $clr7;

}

.filter.header-guests {
  color: $clr7;
  font-family: "Cereal";

}


.filter:nth-child(-n + 2)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  background: $clr6;
  right: 16px;
}

form.el-form.el-form--default.el-form--label-right {
  width: 100%;
  display: flex;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}

.bounce-leave-active {
  animation: bounce-in 0.7ms;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

.order-container.header-filter-search {
  border: none;
  border-radius: 0;
  padding: 0;
  min-height: 0;
  margin: 0;
  max-width: 111px;
  height: 48px;
  background: transparent;
  box-shadow: none;
}

.order-container .btn-container .content {
  border-radius: 64px;
}



.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 -12px;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .cell:nth-child(10n + #{$i + 1}):hover~.content {
      --positionX: #{$i};
    }

    .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
      --positionY: #{$i};
    }
  }

  .cell {
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 1px solid;
  }

  .action-btn {
    padding: 0 0;
    margin: 0 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
  }

  span {
    padding: 0 0;
    margin: 0 0;
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    font-family: sans-serif;
  }
}

.guests-btns {
  justify-content: space-between;
  width: 104px;
  color: $clr1;
  font-weight: 400;
  font-size: 16px;


  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    color: #717171;
    border: 1px solid #b0b0b0;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 7px;
  }
}