//Top main search bar

.filter-option.where {
  min-width: 328px;
}

    
    .checkin,
    .checkout,
    .add-guest-wrapper,
    .filter-option.where {
      padding: 14px 24px;
    }


    // .filter:nth-child(-n + 2)::after {
    //   content: '';
    //   position: absolute;
    //   width: 1px;
    //   height: 22px;
    //   background: $clr6;
    //   right: 16px;
    // }
  
    .add-guest-wrapper {
      max-width: 139px;
    }
  
.filter-option.guest-dropdown {
  display: flex;
  align-items: center;
  // padding-right: 8px;
}



.checkin,
.checkout,
.add-guest-wrapper,
.filter-option.where {
  padding: 14px 24px;
}

.add-guest-wrapper {
  max-width: 139px;
}


.active-btn {
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  box-shadow: 0px 12px 30px 0px rgb(128 128 128 / 33%);
  background: white !important;

  outline: solid;
  outline-color: white;
  z-index: 3;

  outline-width: 1px;
  width: auto;
}

.filter-option {
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  height: 66px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;

}


.filter-option label::after {
  // border-right: 1px solid red;
  // border-right: 1px solid hsla(0,0%,56.1%,.2196078431372549);
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  background: $clr6;
  right: 16px;
  
}


a {
  font-size: 16px;
  color: rgb(34, 34, 34);
}

.content.filter-content button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: white;

  span {
    font-family: 'Cereal', sans-serif;
  }
}


.filter-option label {
  // border-right: 1px solid grey;
  cursor: pointer;
  display: block;
  font-family: 'Cereal-medium', Arial, sans-serif;
}


.filter-option input {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.filter-option.guest-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkin,
.checkout {
  max-width: 130px;
}


@each $name in where,
checkin,
checkout,
guest-dropdown {
  .#{$name}:is(.active-btn):hover {
    background-color: white;
  }

  .#{$name}:not(.active-btn):hover {
    background: #dddddd;
    border-radius: 32px;
  }
}

.explore-filter {
  height: 0px;
  position: relative;
  align-self: baseline;
}

// .last-section-nav {
//   flex: 1 1 0%;
//   align-items: center;
//   justify-content: end;
//   gap: 10px;

//     a {
//       font-size: 16px;
//       color: rgb(34, 34, 34);
//     }
  
//     // .content.filter-content button {
//     //   display: flex;
//     //   align-items: center;
//     //   justify-content: center;
//     //   gap: 4px;
//     //   color: white;
  
//     //   span {
//     //     font-family: 'Cereal', sans-serif;
//     //   }
//     // }

  
//     .filter-option label {
//         border-right: 1px solid grey;
//         cursor: pointer;
//         display: block;
//         font-family: 'Cereal-medium', Arial, sans-serif;
//     }
    
    
//       .filter-option input {
//         cursor: pointer;
//         outline: none;
//         border: none;
//         background: none;
//       }
    
//       .filter-option.guest-dropdown {
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//       }
    
//     .checkin,
//     .checkout {
//       max-width: 130px;
//     }
  
  
//     @each $name in where,
//     checkin,
//     checkout,
//     guest-dropdown {
//       .#{$name}:is(.active-btn):hover {
//         background-color: white;
//       }
  
//       .#{$name}:not(.active-btn):hover {
//         background: #dddddd;
//         border-radius: 32px;
//       }
//     }
  
//     .explore-filter {
//       height: 0px;
//       position: relative;
//       align-self: baseline;
//     }
// }
//     // .last-section-nav {
//     //   flex: 1 1 0%;
//     //   align-items: center;
//     //   justify-content: end;
//     //   gap: 10px;
  
//     //   a.right-header.become-host {
//     //     min-width: 123px;
//     //   }
//     // }

  //  nav.top-nav.flex.justify-space-between.align-center {
  //     height: 80px;
  //     flex: 1;
  //     border-bottom: 1px solid $clr4;
  //   }
  
  //   .header-bottom.flex.justify-space-between {
  //     align-items: center;
  //     padding-block-start: 20px;
  //   }
  
  //   .filter-expend.flex {
  //     padding-block-start: 20px;
  //     /* padding-bottom: 30px; */
  //   }
  
  //   .nav-wrapper.expend {
  //     height: 190px;
  //     /* display: flex; */
  //   }
  
  //   .hide-expend {
  //     display: none;
  //   }
  
    // .nav-wrapper {
    // //   border-bottom: 1px solid $clr4;
    // }
  
//     .sticky {
//       .header-bottom {
//         padding-block-start: 1px;
//       }
//     }
  
//     .guests-modal.dropdown-card.order-container {
//       z-index: 2;
//       position: absolute;
//       background: white;
//       right: 0;
//       /* margin-block-start: 10px; */
//       border-radius: 32px;
//       box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
//       margin-top: 0px;
//       padding: 16px 32px;
//       border: none;
//       top: 90px;
//       margin-top: 12px;
//       /* bottom: 59px; */
//       min-height: 0px;
//       width: 420px;
//     }
  
//     .row-card {
//       padding: 24px 0;
//       justify-content: space-between;
//     }
  
//     .title-sm {
//       display: block;
//       font-size: 0.875em;
//       padding-block-end: 7px;
//       font-family: "Cereal-medium", Arial, sans-serif;
//     }
  
//     .txt-sm{
//       font-family: "Cereal", Arial, sans-serif;
//       color: $clr7;
//       font-size: 0.875em;
//     }
  
//    .animal{
//     font-size: 12px;
//     font-weight: $bold;
//     color: $clr7;
//     text-decoration: underline;

//   // a.right-header.become-host {
//   //   min-width: 123px;
//   // }
// }

nav.top-nav.flex.justify-space-between.align-center {
  height: 80px;
  flex: 1;
  border-bottom: 1px solid $clr4;
}

.header-bottom.flex.justify-space-between {
  align-items: center;
  padding-block-start: 20px;
}

.filter-expend.flex {
  padding-block-start: 20px;
  /* padding-bottom: 30px; */
}

.nav-wrapper.expend {
  height: 190px;
  /* display: flex; */
}

.hide-expend {
  display: none;
}

// .nav-wrapper {
// //   border-bottom: 1px solid $clr4;
// }

.sticky {
  .header-bottom {
    padding-block-start: 1px;
  }
}

.guests-modal.dropdown-card.order-container {
  z-index: 2;
  position: absolute;
  background: white;
  right: 0;
  /* margin-block-start: 10px; */
  border-radius: 32px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 4%), 0 8px 16px rgb(0 0 0 / 15%);
  margin-top: 0px;
  padding: 16px 32px;
  border: none;
  top: 90px;
  margin-top: 12px;
  /* bottom: 59px; */
  min-height: 0px;
  width: 420px;
}

.row-card {
  padding: 24px 0;
  justify-content: space-between;
}

.title-sm {
  display: block;
  font-size: 0.875em;
  padding-block-end: 7px;
  font-family: "Cereal-medium", Arial, sans-serif;
}

.txt-sm {
  font-family: "Cereal", Arial, sans-serif;
  color: $clr7;
  font-size: 0.875em;
}

.animal {
  font-size: 12px;
  font-weight: $bold;
  color: $clr7;
  text-decoration: underline;
}

.lft-crd {
  margin-right: 79px;
}

.vc-popover-content-wrapper.is-interactive {
  position: absolute;
  left: 52% !important;
  right: 50% !important;
  transform: translate(-55%, -50%) !important;
  max-width: 830px !important;
  width: 100vw !important;
  z-index: 0 !important;
  bottom: 0 !important;
  top: 100% !important;
  // border-radius: 32px;
}

.vc-popover-content.direction-bottom.vc-container {
  width: 100%;
}

.vc-pane-container {
  padding: 60px 60px 60px 60px;
}

.vc-container.vc-blue {
  width: 100% !important;
  padding: 18px 28px 10px 28px;
}

span.vc-popover-caret.direction-bottom.align-left {
  display: none !important;
}


// mobile
.adjustment-bar {
  span {
    width: 36px;
    height: 36px;
    border: 1px solid #dddddd;
    border-radius: 100px;
    /* padding: 9px; */
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 16px;
      height: 16px;
    }
  }
}

.mobile-sech-title {
  font-family: 'Cereal-medium';
  font-size: 14px;
  opacity: 0.7;
  line-height: 20px;
  border: none;
  margin-left: 1em;
}

div.mobile-sech-list {
  font-size: 12px;
  color: $clr7;
}

.mobile-nav .search-icon {
  flex: 1;
  filter: invert(1);
  opacity: 0.8;
  width: 16px;
  padding: 4px 0px 0px 0px;
}