.dashboard-container {

    background-color: $clr8;
    // min-height: 75vh;
    display: grid;
    grid-template-columns: 80px 1fr 80px;

    >* {
        grid-column: 2/3;
    }

    >*.full {
        grid-column: 1 / -1;
    }



    .top-dashboard-title {
        gap: 20px;

        //buttons top
        .top-btn {

            text-transform: uppercase;
            cursor: pointer;
            font-family: Cereal-medium;
            font-size: 1rem;
            background-color: $clr7;
            border-radius: 5px;
            width: 120px;
            height: 40px;
            margin: 10px 0px;

            &:hover {
                background-color: $clr2;
                transition: .2s;
            }

            &:focus {
                background-color: $clr2;
            }
        }

        .content-table {
            margin-top: 20px;
        }
    }

    //table
    .title-thead {
        font-size: 1rem;
        font-family: Cereal;
    }

    table {
        margin: 5;
        border: 1px solid $clr2;
        background-color: white;
        // text-align: left;
        border-collapse: separate;
        border-spacing: 0px 30px;
        display: table;
        margin: 10px 0px;

    }

    tbody {
        row-gap: 30px;
        display: table-row-group;
    }

    tr.border_bottom {
        box-shadow: 0px 1px 0px 0px $clr6;
    }



    //titles
    .login-msg {
        font-family: cereal-bold;
        font-size: 1em;
        margin-block-start: 20px;
    }

    .under-line {
        color: $clr2;

        &:hover {
            color: black;
            transition: .2s;
            text-decoration: underline;
        }
    }

    .logIn {
        h1 {
            padding-top: 10px;
            text-align: center;
        }

        span {
            color: $clr2;
        }
    }

    .chart-title {
        color: $clr2;
    }
}

*:has(.dashboard-container) .header-labels {
    display: none;
}

*:has(.dashboard-container) .main-header {
    height: 80px;
}
.status{
    background-color: #bacbf3;
    border-radius: 5px;
    width: 90px;
    height: 20px;
}
.status-decline {
    background-color: #fdf5f6;
    color: #bb6f7c;
  }

  .status-approved {
    background-color: #45e4934f;
    color: #039e42;
  }

  .status-pending {
    background-color: #88daf5;
    color: #1a7ffa;
  }
.material-icons{
    font-size: 18px;
}

.border-bottom {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 0px 0px #cecbcb6e;
    font-size: 16px;
    font-family: Cereal;
    font-weight: 600;
    
}

.buyer{
    gap: 8px;
    display: flex;
    align-items: center;
    img{
        height: 32px;
        width: 32px;
    }
}

// .order-dash {
//     display: flex;
//     justify-content: space-between;
//     font-size: 16px;
//     font-family: 'Cereal';
//     font-weight: 700;
// }
