

*:has(.details-page){
       display: flex;
       flex-direction: column;
       align-items: center;
}


*:has(.details-page) .main-header{
       height: 90px;
}

.details-page{
       height: auto;
       width: 1300px;
       padding-inline: 94px 65px;

       color: black;
       
       > section{
              margin-block-end: 15px;
              padding-inline: 0px;
       }

       /* ----- ----- first section ----- -----*/
       .short-display{
              width: 100%;

              display: grid;
              grid-template-columns: repeat(11, 1fr);
              grid-template-rows: 1fr 1fr;

              margin-block-start: 10px;
              .name{
                     grid-column: 1/12;
                     grid-row: 1/1;

                     font-family: Cereal-medium;
                     font-size: 1.5em;
                     font-weight: 550;
              }

             .short-container{
                     grid-column: 1/10;
                     grid-row: 2/2;

                     display: flex;
                     flex-direction: row;
                     align-items: center;

                     font-family: Cereal;
                     margin-block-start: -5px;
                     
                     *{
                            font-size: 0.90rem;
                            
                     }

                     .star-score{
                            > svg{
                                  transform: scale(0.9);
                                  transform: translate(3px, 2px);
                            }

                            > span{
                                   margin-inline: 5px;

                            }
                     }

                     .reviews-count{
                            text-decoration: underline;
                            margin-inline: 5px;
                            font-family: Cereal-medium;
                     }

                     .host-level{
                            margin-inline: 5px;
                     }

                     .area-scope-labels{
                            margin-inline: 5px;

                            > .label{
                                   text-decoration: underline;
                                   font-family: Cereal-medium;
                            }
                     }
             }

             .details-btn {
                     display: flex;
                     flex-direction: row;
                     border-radius: 7px;
                     background-color: transparent;

                     color: $clr7;
                     text-decoration: underline;
                     transition: color 0.2s;

                     > svg{
                            margin-inline-end: 7px;
                     }

                     > span{
                            align-self: end;
                     }

                     &:hover{
                            background-color: $hoverGray;
                     }

                     &:active{
                            font-size: calc(1em - 0.33em);
                     }
              }
              .share{
                     grid-column: 10/11;
                     grid-row: 2/2;
              }

              .save{
                     grid-column: 11/12;
                     grid-row: 2/2;
              }
       }

       /* ----- ----- third section ----- -----*/

       .details-display{
              width: 658px;;

              display: grid;
              grid-template-columns: repeat(11, 1fr);
              grid-template-rows: 1fr 1fr;
              row-gap: 4px;

              margin-block-start: 44px;
              padding-block-end: 14px;
              border-bottom: 1.5px solid $clr6;

              .details-summary{
                     grid-column: 1/11;
                     grid-row: 1/1;

                     font-size: 1.6rem;
                     font-family: Cereal;
              }

            .details-container{
                     grid-column: 1/9;
                     grid-row: 2/2;

                     display: flex;
                     flex-direction: row;
                     justify-content: left;

                     font-family: Cereal;
                     color: $minorTxt;
                     font-size: 0.9em;

            }
            
            .user-icon{
              grid-column: 11/12;
              grid-row: 1 / span 2;
              
              > img{
                     width: 54px;
                     border-radius: 50%;

                     margin-block-start: 6px;
                     margin-inline-start: 1px;
              }
            }
            
       }

       .share-cover{
              display: flex;
              flex-direction: column;

              width: 60%;

              border-bottom: 1.5px solid $clr6;

              > *{
                     margin-block-end: 15px;
              }

              .share-cover-img{
                     height: 20px;
                     width: 123px;

                     
              }

              .share-cover-txt{
                     font-family: Cereal;
                     color: $minorTxt;
                     font-size: 0.83em;
              }

              .share-cover-btn{
                     width: fit-content;
                     align-self: flex-start;
                     margin-inline-start: 0px;
                     padding-inline-start: 0px;

                     background-color: transparent;
                     color: $clr1;
                     font-family: Circular-hm;
                     font-size: 0.9em;
                     letter-spacing: 0px;
                     text-decoration: underline;
                     cursor: pointer;
              }
              
       }

       .sticky-scroll-end{
              height: 5px;
              width: 100%;
              border-bottom: 1.5px solid $clr6;
       }
       
}
