@font-face {
  font-family: Cereal;
  src: url('../../fonts/Airbnb_Cereal-Book-new.ttf') 
}

@font-face {
  font-family: Cereal-bold;
  src: url('../../fonts/Airbnb_Cereal-Bold-new.ttf') 
}

@font-face {
  font-family: Cereal-medium;
  src: url('../../fonts/Airbnb_Cereal-Medium-new.ttf') 
}

@font-face {
  font-family: Circular-hm;
  src: url('../../fonts/Circular-FontFamily/AvenirLTStd-Black.otf');
}
// @font-face {
//     font-family: Cereal;
//     src: url(../../fonts/airbnb/AirbnbCereal-Black.ttf);
// }